    <!-- Static navbar -->
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="row">
          <div class="col-md-9"> <!-- menu area start -->
            <div class="menu-area">
              <ul class="nav navbar-nav">
                <li class="book-library"><a href="">Book Library</a></li>
                <li class="dropdown">
                        <a href="#" class="dropdown-toggle_1" data-toggle="dropdown"
                              role="button" aria-haspopup="true" aria-expanded="false">
                              DISCOVER <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                          <li><a href="#">Action & Adventure </a></li>
                          <li><a href="#">Bios & History</a></li>
                          <li><a href="#">Children's</a></li>
                          <li><a href="#">Fantasy</a></li>
                          <li><a href="#">Historical Fiction</a></li>
                          <li><a href="#">Horror</a></li>
                          <li><a href="#">Literary Fiction</a></li>
                          <li><a href="#">Mystery & Thriller</a></li>
                          <li><a href="#">Non Fiction</a></li>
                          <li><a href="#">Romance</a></li>
                          <li><a href="#">Science Fiction</a></li>
                          <li><a href="#">Young Adult</a></li>
                          <li role="separator" class="divider"></li>
                          <li><a href="#">Young Adult</a></li>
                        </ul>
                      </li>
              </ul>
            </div><!-- menu area end -->
            
          </div>
          <div class="col-md-3">
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav navbar-right">
                <% if (!user_signed_in?) %>
                  <li><%= link_to "Login", new_user_session_path %></li>
                  <li><%= link_to "SignUp", new_user_registration_path %></li>
                  
                <% else %>
                     <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                              role="button" aria-haspopup="true" aria-expanded="false">
                              <%= image_tag avatar_url(current_user),  class: "img-circle avatar_small"%>&nbsp;
                              <%= current_user.fullname%> <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                          <li><a href="#"></a></li>
                        
                          <li><%= link_to "Edit Profile", edit_user_registration_path %></li>
                          <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
                          
                        </ul>
                      </li>

                <% end -%>
               
              </ul>
            
            </div><!--/.nav-collapse -->
            
          </div>
        </div>


      </div>
    </nav>