<div class="row">
	<div class="col-md-3">
		<%= render 'book_menu'%>
	</div>
	<div class="col-md-9">
		<div class="panel panel-default">

			<div class="panel-heading">
				Description
			</div>

			<div class="panel-body">
				<div class="container">
					<%= form_for @book do |b|%>

						<div class="row">
							<div class="form-group">
								<label>Book Name</label>
								<%= b.text_field :listing_name, placeholder: "What is your Book Nmae?", class: "form-control", required: true %>
							</div>
						</div>
						<div class="row">
							<div class="form-group">
								<label>Summery</label>
								<%= b.text_area :summary, rows: 5, placeholder: "Summery of your book.", class: "form-control", required: true %>
							</div>

						</div>

						<div class="text-center">
							<%= b.submit "Save", class: "btn btn-form" %>
						</div>


								
					<% end -%>
				</div>
			</div>
		</div>
	</div>

</div>
