

 <div class="row">
 	<div class="col-md-3">
 		<ul class="sidebar-list">
 			<li class="sidebar-item"><%= link_to "Enter New Book", new_book_path, class: "btn btn-form" %></li>
 		</ul>
 	</div>
 	
 	<div class="col-md-12">
 		<div class="panel panel-default">
 			<div class="panel-heading">
 				Book List
 			</div>
 		</div>
 	</div>

 	<div class="panel-body">
				<%= @books.each do |book|%>
					<div class="row">
						<div class="col-md-2">
							<%= image_tag book.photos[0].image.url() if book.photos.length > 0 %>
						</div>
						<div class="col-md-4">
							<h4><%= book.listing_name %></h4>
						</div>
						<div class="col-md-3">
							<%= link_to 'Edit', listing_book_path(book), class: "btn btn-form" %> 
							
						
						</div>
						<div class="col-md-3">
							<%= link_to 'Back', books_path, class: "btn btn-form" %>

						</div>
					</div>
				<% end -%>
			</div>

 </div>