<div class="row">
	<div class="col-md-3">
		<ul class="sidebar-list">
			
		<li class="sidebar-item"><%= link_to "Ener New Book", new_book_path, class: "btn btn-form"%></li>
		</ul>
	</div>
	<div class="col-md-9">

		<div class="row">
			<div class="panel panel-default">
				<div class="panel-heading">
					Book List
				</div>
			</div>
			<div class="panel-body">
				
				
				<table class="table">
				  <thead>
				    <tr>
				      <th scope="col">SL</th>
				      <th scope="col">Book Cover Image</th>
				      <th scope="col">Title</th>
				      <th scope="col">Description</th>
				      <th scope="col">Auther</th>
				      <th scope="col">Pages</th>
				      <th scope="col">Action</th>
				    </tr>
				  </thead>
				  	<tbody>
				  		<% li = 0 %>
				  		<% @books.each do |book|%>
				  		<% li = li + 1%>
							<tr>
								<td><%= li %></td>
								<td><%= image_tag book.cover_photo() %></td>
								<td><%= book.listing_name %></td>
								<td><%= book.summary%></td>
								<td><%= book.author_name%></td>
								<td><%= book.pages%></td>
								<td><%= link_to 'Show', book_path(book) %> |  
									<%= link_to "Edit", listing_book_path(book)%> |  
									<%= link_to "Delete", book_path(book), method: :delete, data: {confirm: "Are you sure?"} %> </td>

							</tr>
				  		<% end -%>
				  </tbody>
				</table>
				
			<%= paginate @books %>
			</div>
		</div>
	</div>
</div>