<div class="row">
	<div class="col-md-3">
		<ul class="sidebar-list">
			
		<li class="sidebar-item"><%= link_to "Ener New Book", new_book_path, class: "btn btn-form"%></li>
		</ul>
	</div>
	<div class="col-md-9">

		<div class="row">
			<div class="panel panel-default">
				<div class="panel-heading">
					Book List
				</div>
			</div>
			<div class="panel-body">
				
				
				<table class="table">
				  <thead>
				    <tr>
				      <th scope="col">SL</th>
				      <th scope="col">Book Cover Image</th>
				      <th scope="col">Title</th>
				      <th scope="col">Description</th>
				      <th scope="col">Auther</th>
				      <th scope="col">Pages</th>
				      <th scope="col">Action</th>
				    </tr>
				  </thead>
				  	<tbody>
				  		<% @books.each do |bk|%>
							<tr>
								<td><%= %></td>
								<td><%= image_tag bk.cover_photo() %></td>
								<td><%= bk.listing_name %></td>
								<td><%= bk.summary%></td>
								<td><%= bk.author_name%></td>
								<td><%= bk.pages%></td>
								<td><%= link_to "show", books_path%> | <%= link_to "delete", books_path%>| <%= link_to "Edit", books_path%> </td>
							</tr>
				  		<% end -%>
				  </tbody>
				</table>
			</div>
		</div>
	</div>
</div>